<h1><%= @event.name %></h1>
<h2><%= @event.date %></h2>
<h2><%= @event.time %></h2>
<%= cl_image_tag(@event.image)%>

<h3>Locations:</h3>
<ul>
  <% @event.locations.each do |location| %>
    <li> <%= location.name %> / <%= location.address %> /Arrive: <%= location.arrivetime %> /Leave <%= location.departtime %> </li>

  <% end %>
</ul>

<p>add a location to this pub crawl</p>

#:name, :address, :arrivetime, :departtime

<%= form_for :location do |f| %>
  <%= f.text_field :name, placeholder: "what's this place called?" %>
  <br>
  <%= f.text_field :address, placeholder: "What's it's address" %>
  <br>
  <%= f.text_field :arrivetime, placeholder: "Enter a start time" %>
  <br>
  <%= f.text_field :departtime, placeholder: "when are ya gonna leave?" %>  
  <br>
  <%= f.text_field :latitude, placeholder: "lat (approx)" %>  
  <br>
  <%= f.text_field :longitude, placeholder: "long (approx)" %>
  <br>
  <%= f.submit "add it" %>
<% end %>
