
<!-- <h1><%= @event.name %></h1>
<h2>an event by <%= @event.users[@event.users.length - 1].username %></h2> 
<br> -->


<div class="headerImg"><%= cl_image_tag(@event.image)%></div>
<h1 class="eventTitle"><%= @event.name %></h1>

<h2 id="eventDate"><%= @event.date %></h2>
<h2 id="eventTime"><%= @event.time %></h2>

<h3>People Involved In This Crawl</h3>
  <ul>
    <% @event.users.each do |user| %>
      <li> <%= user.username %> </li>
    <% end %>
<a href="join/<%=@event.id%>">Join this crawl</a>
  </ul>
<h3>Locations:</h3>
<ul>
  <% @event.locations.each do |location| %>
    <% if !location.has_been_visited %>
      <li> <%= location.name %> / <%= location.address %> /Arrive: <%= location.arrivetime %> /Leave <%= location.departtime %> </li>
    <% else %>
      <li> <strike> <%= location.name %> / <%= location.address %> /Arrive: <%= location.arrivetime %> /Leave <%= location.departtime %> </strike> </li>
    <% end %>
  <% end %>
</ul>

<% if @user == @event.users[@event.users.length - 1] %>
  <h3> Event Admin </h3>
  <p>Mark a location as visited</p>
    <% @event.locations.each do |location| %>
    
    <li> <%= location.name %> / <%= location.address %> <a href="left/<%= @event.id %>/<%=location.id%>"> Mark as left </a></li>

  <% end %>

  <p>Add a Stop To This Crawl</p>

  <%= form_for :location do |f| %>
    <%= f.text_field :name, placeholder: "what's this place called?" %>
    <br>
    <%= f.text_field :address, placeholder: "What's it's address" %>
    <br>
    <%= f.text_field :arrivetime, placeholder: "Enter a start time" %>
    <br>
    <%= f.text_field :departtime, placeholder: "when are ya gonna leave?" %>  
    <br>
    <%= f.text_field :latitude, placeholder: "lat (approx)" %>  
    <br>
    <%= f.text_field :longitude, placeholder: "long (approx)" %>
    <br>
    <%= f.submit "Add Stop" %>
  <% end %>
<% end %>